/.metadata
*.txt
*.jpg
*.*.save
/__pycache__
/Parsing/*.py.swp
/Parsing/*.png
/Beersong/*.py.swp
.gitignore
*.spec
/home/danny/Dropbox/Programming/pythons/PyMySQLDemo/Tk/build/
/home/danny/Dropbox/Programming/pythons/PyMySQLDemo/Tk/dist/
